* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #444444;
	font-size: 13px;
	font-family: 'Tahoma', sans-serif;
	background: #B71C4E;
}

a, img {
	border: none;
	color: #FFFFFF;
	text-decoration: none;
}

.selected {
	color: #63C2D0;
}
/* Navigation */
#undefined-sticky-wrapper {
	position: relative;
	height: 0 !important;
	z-index: 9999 !important;
}

#logo {
	float: left;
	margin-bottom: 0;
	margin-left: 0;
}
#homeLogo {
	top: 2em;
	left: 3em;
	position: absolute;
}

.menu {
	width: 100%;
	height: 45px;
	background: #B71C4E;
	z-index: 9999 !important;
}
#logo {
	float: left;
	margin-bottom: 0;
	margin-left: 0;
}
#homeLogo {
	top: 2em;
	left: 3em;
	position: absolute;
}
#nav {
	float: right;
	text-align: right;
}
.navigation {
	float: right;
	list-style: none;
	margin: 0;
}
ul.navigation {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 99999;
}
.navigation li {
	float: left;
	text-align: left;
	padding: 12px 0 10px;
	margin-left: 30px;
	text-transform: uppercase;
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}
.navigation li:first-child {
	margin-left: 0;
}

.navigation a:hover {
	color: #FFD400;
}
.navigation li:hover, .navigation .active {
	cursor: pointer;
	background: url(../images/menu_h.png) no-repeat center;
	border-bottom: 3px solid #63C2D0;
	color: #FFD400;
}

.btn_dropdown {
	position: relative;
	z-index: 9999;
	display: none;
	cursor: pointer;
	background: #630E35;
	margin: 5px 3px 0 0;
	width: 140px;
	height: 36px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
	border-radius: 5px;
}
.btn_dropdown:hover {
	color: #63C2D0;
}

#container {
	background: url(../images/contact_bg.jpeg) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
#wrapper {
	-moz-box-shadow: 0px 0px 3px #aaa;
	-webkit-box-shadow: 0px 0px 3px #aaa;
	box-shadow: 0px 0px 7px #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 520px;
	height: 560px;
	overflow: hidden;
	margin: 50px auto;
	background-color: rgba(255, 255, 255, 0.7);
}
#steps {
	width: 522px;
	/*height:320px;*/
	overflow: hidden;
	position: relative;
}
.step {
	float: left;
	width: 523px;
	/*height:320px;*/
}
#navigation {
	height: 45px;
	border-top: 1px solid #fff;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	background: #B71C4E;
	width: 510px;
	margin: 5px auto;
}
#navigation ul {
	list-style: none;
	float: left;
	margin-left: 35px;
	overflow: hidden;
}
#navigation ul li {
	float: left;
	position: relative;
	margin: 0px 2px;
}
#navigation ul li a {
	display: block;
	height: 45px;
	color: #FFF;
	outline: none;
	text-decoration: none;
	line-height: 45px;
	font-size: 16px;
}
#navigation ul li a:hover {
	color: #FFD400;
}

#navigation ul li.selected a {
	color: #63C2D0;
}
span.checked {
	background: transparent url(../images/checked.png) no-repeat top left;
	position: absolute;
	top: 0px;
	left: 1px;
	width: 20px;
	height: 20px;
}
span.error {
	background: transparent url(../images/error.png) no-repeat top left;
	position: absolute;
	top: 0px;
	left: 1px;
	width: 20px;
	height: 20px;
}
#steps form fieldset {
	border: none;
	padding-bottom: 20px;
}
#steps form legend {
	text-align: left;
	background-color: #FFF;
	color: #B71C4E;
	font-size: 26px;
	float: left;
	width: 499px;
	padding: 10px 0px 10px 10px;
	margin: 10px 3px;
	border-bottom: 1px solid #fff;
	border-left: solid 5px #FFD400;
	border-top: 1px solid #d9d9d9;
	box-shadow: 0px 0px 4px #000;
}
#steps form p {
	float: left;
	clear: both;
	margin: 5px 0;
	background-color: rgba(253, 252, 244, 0.7);
	width: 410px;
	margin-left: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 55px;
	padding: 7px 0;
}
#steps form p label {
	width: 120px;
	float: left;
	text-align: left;
	margin-left: 35px;
	line-height: 30px;
	color: #666;
	text-shadow: 1px 1px 1px #fff;
	font-size: 15px;
}
#steps form input:not([type=radio]), #steps form textarea, #steps form select {
	background: #ffffff;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	padding: 5px;
	width: 200px;
	float: left;
}

#steps textarea {
	height: 30px;
}

#steps textarea, #steps input {
	width: 200px;
}
#steps form input:focus {
	-moz-box-shadow: 0px 0px 3px #aaa;
	-webkit-box-shadow: 0px 0px 3px #aaa;
	box-shadow: 0px 0px 3px #aaa;
	background-color: #FFFEEF;
}
#steps form p.submit {
	background: none;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-align: center;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

#steps form button:hover {
	background: #d8d8d8;
	color: #666;
	text-shadow: 1px 1px 1px #fff;
}

#registerButton1 {
	width: 435px;
	height: 41px;
}

#li1 {
	width: 145px;
}

#li2 {
	width: 145px;
}
#li3 {
	width: 145px;
}

.infohead {
	background: none !important;
	text-align: left;
	border: none !important;
	box-shadow: none !important;
	color: #666;
	margin-bottom: 13px !important;
	padding: 0 !important;
}
.submit {
	width: 310px !important;
	height: 35px;
	margin: 23px 105px;
	color: #FFF;
	background: #B71C4E !important;
	border-radius: 6px !important;
	font-size: 15px;
}

.submit:hover {
	color: #FFD400;
	box-shadow: 0px 0px 4px #000;
	cursor: pointer;
}

.btnsredes img:hover {
	box-shadow: 0px 0px 4px #000;
	cursor: pointer;
}

.mesagges p {
	background-color: rgba(255, 212, 0, 0.5) !important;
	color: #B71C4E;
	font-weight: bold;
}

p.error {
	background-color: rgba(255, 0, 0, 0.5) !important;
	font-weight: bold;
}

/*ESTILOS PARA IE */

.no-js #container {
	background: url(../images/contact_bgIE.jpeg) no-repeat;
	background-repeat: repeat;
}

.no-js #steps {
	width: 1570px !important;
	position: static !important;
}

.no-js legend {
	margin-left: -8px !important;
}

.no-js #wrapper {
	background: #FFF;
	border: 1px solid #000;
}
.no-js .messages p {
	background: rgb(255, 0, 0) !important;
	color: #B71C4E;
	font-weight: bold;
}

@media only screen and (max-width: 766px) {

	.menu {
		position: inherit !important;
		width: 675px;
	}

	#container {
		width: 675px;
		min-height: 690px;
		height: 690px;
		border-bottom: 3px solid #FFFFFF;
	}

	.navigation li a:hover {
		padding: 2px;
	}

}

@media only screen and (max-height: 470px) {

	#container {
		height: 690px;
		border-bottom: 3px solid #FFFFFF;
	}

}

